.login-container {
    background-color: #ffffff;
    width: 100%;
    max-width: 600px; 
    padding: 40px;
    border-radius: 8px; /* 角丸 */
    margin: 20px; /* スマホ表示時の端の余白 */
}

.form-group{
    text-align: center;
    margin-bottom: 20px;
    display:flex;
}

label {
     text-align: left;
     width: 170px;
     margin-bottom:0 ;       /* ラベルの幅を固定 */
}

input[type="text"],
input[type="password"]{
    width: 40%;
    padding: 10px;
    border:1px solid #ccc;
}

.form-group input:focus {
    border-color: #007bff; /* 青色 */
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1);
}

button[type="submit"] {
    width: 200px;
    padding: 12px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

a {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

